.container-box{
    width: 1024px;
    height: 768px;
    margin: auto;
    border: 1px solid black;
    font-family: "標楷體";
}
header{
    height: 65px;
    text-align: center;
    border-bottom: 1px solid black;
}
.container-main{
    height: calc(100% - 65px - 20px);
    display: flex;
}
aside{
    width: 215px;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-right: 1px solid black;
}
.aside-header{
    height: calc(100% - 25px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-title{
    margin-top: 10px;
    text-decoration: underline black 2px;
    text-underline-offset: 5px;
    font-size: 24px;
    color: #f0f;
    margin-bottom: 10px;
}
.box{
    background-image: url(../images/menu1.png);
    width: 200px;
    height: 30px;
    margin-top: 10px;
    padding-top: 6px;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}
.box:hover{
    background-image: url(../images/menu2.png);
}
.aside-footer{
    height: 25px;
    text-align: center;
    font-size: 16px;
    color: #000000;
    border-top: 1px solid black;
}
main{
    width: calc(100% - 215px);
}
.main-header{
    height: 29px;
    border-bottom: 1px solid black;
}
marquee{
    font-size: 24px;
    color: #00f;
}
.main-footer{
    height: calc(100% - 30px);
}
iframe{
    width: 100%;
    height: 100%;
}
footer{
    height: 20px;
    /* background-color: lightgreen; */
    border-top: 1px solid black;
    text-align: center;
}