.container-box {
    width: 1024px;
    height: 768px;

    /* background-color: pink; */
    /* text-align: center; */
    font-family: "標楷體";
    border: 1px solid black;
    margin: auto;
}
header {
    width: 1024px;
    height: 65px;
    /* background-color: palegreen; */
    border-bottom: 1px solid black;

    margin: auto;
    /* background-color: pink; */
    font-family: "標楷體";
}

header {
    width: 100%;
    height: 65px;
    margin: auto;
    text-align: center;
    /* background-color: blue; */
}

.container {
    display: flex;
    width: 100%;
    height: calc(768px - 65px - 20px);
    /* background-color: lightblue; */


}

aside {
    width: 215px;
    height: 100%;
    background-color: lightblue;
   

}

.aside-title {
    text-decoration: underline black;
    font-size: 24px;
    color:#ff00ff ;
    margin-bottom: 10px;
    font-weight: 500;

}

.aside-header {
    width: 100%;
    height: calc(100% - 25px);
    background-color: lightgoldenrodyellow;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.box{
    width: 200px;
    height: 30px;
    background-image: url(../images/menu1.png);
    font-weight: 500;
    color: #000;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
}



.aside-footer {
    width: 100%;
    height: 25px;
    /* background-color: lightgreen; */
    margin: auto;
    text-align: center;
}

main {
    width: calc(100% - 215px);
    height: 100%;

    /* background-color: lemonchiffon; */
}
.main-header{
    width: 100%;
    height: 29px;
    /* background-color: lightgray; */
    border-bottom: 1px solid black;

}

marquee{
    font-size: 24px;
    color: #00f;
}

.main-header {
    width: 100%;
    height: 29px;
    /* background-color: lightslategray; */
}

.main-footer {
    width: 100%;
    height: calc(100% - 29px);
    /* background-color: lightseagreen; */
}
iframe{
    height: 100%;
    width: 100%;
    }

footer {
    width: 100%;
    height: 20px;
    /* background-color: lightcoral; */
    text-align: center;
}