<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Document</title>
</head>
<body>

<div class="container mt-3">
  <h2>Product Create</h2>
  <p> 新增產品項目 </p>
  <form action="/action_page.php">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="mb-3">
                <div class="mb-3 mt-3">
                    <label for="file" class="form-label"> 照片檔上傳 </label>
                    <input type="file" class="form-control" id="file" placeholder="Enter file" name="file">
                  </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="mb-3">
                <label for="imageDesc" class="form-label"> 產品備註： </label>
                <input type="text" class="form-control" id="imageDesc" placeholder="Enter Description" name="imageDesc">
              </div>
        </div>
    </div>

   
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="mb-3">
                <label for="price" class="form-label"> Price </label>
                <input type="number" class="form-control" id="price" placeholder="Enter Description" name="price">
              </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="mb-3">
                <label for="unit" class="form-label"> Unit： </label>
                <input type="text" class="form-control" id="unit" placeholder="Enter Unit" name="unit">
              </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-12 col-sm-12">
            <div class="d-grid gap-3">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </div>
        </div>
    </div>
    

   
  </form>
</div>

</body>
</html>