<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Document</title>
  <style>
    .bg-img {
      background-image: url("https://picsum.photos/id/46/200/300");
      background-size: cover;
    }

  </style>
</head>

<body class="bg-img">
  <div class="container-fluid mt-3">
    <h2>Hover Rows</h2>
    <p>The .table-hover class enables a hover state on table rows:</p>
    <div class="text-end">
      <button type="button" class="btn btn-success btn-lg"><i class="fa-solid fa-plus"></i></button>
    </div>
    <table class="table table-hover text-center align-middle">
      <thead>
        <tr>
          <th width="5%">id</th>
          <th width="25%">img_url</th>
          <th width="30%">desc</th>
          <th width="5%">pri</th>
          <th width="10%">unit</th>
          <th>oprate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            <img src="https://picsum.photos/id/20/315/250" class="rounded" alt="" width="304" height="236">
          </td>
          <td>
            <p>imgUrl:p1</p>
            Lorem ipsum dolor sit amet.
          </td>
          <td>100</td>
          <td> 元 </td>
          <td>
            <button type="button" class="ms-3 btn btn-warning "><i class="fa-solid fa-pen"></i></button>
            <button type="button" class="ms-3 btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
          </td>
        </tr>
        <tr>
          <td>
            1
          </td>
          <td>
            <img src="https://picsum.photos/id/20/315/250" class="rounded" alt="" width="304" height="236">
          </td>
          <td>
            <p>imgUrl:p1</p>
            Lorem ipsum dolor sit amet.
          </td>
          <td>100</td>
          <td> 元 </td>
          <td>
            <button type="button" class="ms-3 btn btn-warning "><i class="fa-solid fa-pen"></i></button>
            <button type="button" class="ms-3 btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
          </td>
        </tr>
      </tbody>

      
    </table>
  </div>


</body>

</html>