* {
    /* background-color:lightcyan ; */
    box-sizing: border-box;
    margin: 0;
}

.top{
    background-color:pink ;
    height: 65px;
    width: 1024px;
}

.container-box{
    height: cal(1024px - 20px);
    width: 1024px;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
}



.aside{
    /* background-color: lightgoldenrodyellow; */
    width: 215px;
    height: calc(768px - 20px - 65px);
}


/* 選單區 */
.menu{
    background-color: lightgreen;
    width: 215px;
    height: calc(768px - 20px - 25px - 65px);

}
/* 日期更新區 */
.update{
    background-color: lightpink;
    width: 215px;
    height: 25px;
}



.main{
    /* background-color: lightseagreen; */
    width: calc(1024px - 215px);
    height: calc(768px  - 65px - 20px);
}

/* 跑馬燈廣告區 */
.marquee{
    background-color: blue;
    width: calc(1024px - 215px);
    height: 29px;
}
/* 網頁內容區 */
.content{
    background-color: lightyellow;
    width:calc(1024px - 215px); 
    height: calc(768px - 20px - 29px - 65px);

}
/* 頁尾版權區 */
.footer{
    background-color: lightgreen;
    width: 1024px;
    height: 20px ;
}
